{% extends 'base.html' %}

{% block content %}

    {% for post in post_list %}
        <article class="entry">
            
            <div class="entry-img">
            <img src="{{ post.photo.url }}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
            <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
            </h2>

            <div class="entry-meta">
            <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i><a>{{ post.author }}</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><a><time datetime="2020-01-01">{{ post.date }}</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i><a>Comments</a></li>
            </ul>
            </div>

            <div class="entry-content">
            <p>
                {{ post.excerpt }}
            </p>
                <div class="read-more">
                    <a href="{% url 'detail' post.pk %}">Read More</a>
                </div>
            </div>

            </article>
    {% endfor %}

{% endblock %}